<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.cordovatest.app" version="1.0.0">
	<name>cordovatest</name>

	<description>
		A sample Apache Cordova application that responds to the
		deviceready
		event.
	</description>

	<author email="thym-dev@eclipse.org" href="http://www.eclipse.org/thym">
		Eclipse.org -
		Thym
	</author>

	<content src="index.html" />

	<access origin="*" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />

	<feature name="App">
		<param name="android-package" value="org.apache.cordova.App" />
	</feature>
	<feature name="Cordova onDestroy Plugin">
		
		
	<param name="url" value="https://github.com/rotan1/cordova-plugin-ondestroy" /><param name="id" value="com.flyingsoftgames.ondestroyplugin" /></feature>
	
	


	<engine name="android" version="4.1.1" />

	<preference name="AndroidPersistentFileLocation" value="Internal" />
</widget>
